BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 150

# Put opening braces on the same line
BreakBeforeBraces: Attach

# Keep single-line blocks if short
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

# Spacing
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true

# Empty lines & formatting consistency
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: true
ReflowComments: false

# Alignment
AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Right

# Misc
SortIncludes: true
