<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask Example</title>

    <style>
        * {
            font-family: Bookman Old Style;
            font-style: italic;
        }

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 30px;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <p>This is Next Page</p>
    <p>Move to home page click <a href="/home">here</a></p>
</body>
</html>